@import url(http://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,900,900italic,300italic,300,100italic,100);
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Roboto",sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

header,
.intro,
.info,
.quote,
.call,
footer {
    padding-right: 350px;
    padding-left: 350px;
}
header {
    background-color: #1f2937;
    height: 72px; 
    flex: 0 0 auto;
    display: flex;
    align-items: center;  
    gap: 16px;
}

header div {
    
    flex-grow: 0;
    
}
.logo {
    margin-right: auto;
    font-size: 24px;
    color: #f9faf8
}
.hero-secondary,
.header-link {
    font-size: 18px;
    color: #e5e7eb;
}

.intro {
    
    padding-top: 100px;
    padding-bottom: 50px;
    flex: 1 1 0%;
    background-color: #1f2937;
    display: flex;
    gap: 50px;

}

.hero-main{
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
    margin-bottom: 20px;
}
.hero-secondary {
    margin-bottom: 15px;
}
.signup-btn{
    background-color: #3882f6;
    padding: 8px 16px;
    border-radius: 8px;
    border: none;
    color: #e5e7eb;
    font-size: 20px;
    font-weight: 400;
    width: 120px;
    height: 40px;
}
.big-image {
    height: 300;
    width: 700;
    padding: 100;
    
}

.info {
    flex: 1 1 0%;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    
}
.info-header{
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    margin-bottom: 24px;
}

.info-container {
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
    
}
.item-container {
    width: 160px;
    }
.img-placeholder {
    width: 160px;
    height: 160px;
    border: 4px solid #3882f6;
    border-radius: 16px;
    margin-bottom: 20px;
}

.img-description {
    width: auto;
}

.quote {
    flex: 1 1 0%;
    background-color: #e6e7eb;
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
    padding-top: 80px
}
.quote-text {
    padding: 50px 50px 10px;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    width: 900px;
}

.quote-container{
    text-align: center;
    display: flex; 
    flex-direction: column;
    align-items: center;
    width: 800px;
}
.quote-author {
    align-self: flex-end;
    font-size: 36px;
    font-weight: 900;

}
.call {
    flex: 1 1 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.call-box{
    background-color: #3882f6;
    width: 800px;
    height: 150px;
    padding: 75px;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.call-box .signup-btn {
    border: 1px solid #e5e7eb;
}

.call-big {
    font-size: 24px;
    color: #e5e7eb;
    font-family: "Roboto";
}
.call-small {
    color: #e5e7eb;
}
footer {
    background-color: #1f2937;
    height: 72px; 
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e5e7eb;
}


